@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: bg-sky-950;
}

.left{
    @apply w-3/5 p-5;
}

body{
    @apply bg-slate-100 h-screen flex items-center justify-center;
}

.div-container{
    @apply relative w-[1200px] min-h-[90%] mx-auto my-0 p-1 text-white bg-sky-950 rounded-lg flex;
}

.calendar{
    @apply relative w-full h-full flex flex-col flex-wrap justify-between text-slate-700 rounded-md bg-slate-200;
} 

.calendar::before, .calendar::after{
    @apply absolute top-1/2 left-full w-3 h-[97%] bg-slate-400;
    border-radius: 0 5px 5px 0;
    content: "";
    transform: translateY(-50%);
}

.calendar::before{
    @apply h-[94%] bg-slate-600;
    left: calc(100% + 12px);
}

.month{
    @apply  w-full h-[100px] flex items-center justify-between px-[50px] text-xl font-medium capitalize;
}

.calendar .month .prev, .calendar .month .next{
    @apply cursor-pointer;
}

.calendar .month .prev:hover, .calendar .month .next:hover{
    @apply bg-sky-800;
}

.calendar .weekdays{
    @apply w-full h-[50px] flex items-center justify-between px-5 text-base font-medium capitalize;

}

.calendar .weekdays div{
    @apply w-[14.28%] h-full flex items-center justify-center;
}

.calendar .days{
    @apply w-full flex flex-wrap justify-between px-5 text-base font-medium mb-5;
}

.calendar .days .day{
    @apply w-[14.28%] h-[90px] flex items-center justify-center cursor-pointer text-sky-800 border-solid border-white border;
}

.calendar .day:not(.prev-date, .next-date):hover{
    @apply bg-slate-400 text-white;
}

.calendar .days .prev-date, .calendar .days .next-date{
    @apply text-slate-400;
}

.calendar .days .active{
    @apply relative text-3xl text-sky-100 bg-sky-800;
}

.calendar .days .active::before{
    content: "";
    @apply absolute top-0 left-0 w-full h-full;
    box-shadow: 0 0 10px 2px @apply text-sky-800;
}

.calendar .days .today{
    @apply text-3xl;
}

.calendar .days .event{
    @apply relative;
}

.calendar .days .event::after{
    content:"";
    @apply absolute bottom-[10%] left-1/2 w-3/4 h-[6px] rounded-md bg-sky-800;
    transform: translateX(-50%);
}

.calendar .event:hover::after{
    @apply bg-white;
}

.calendar .goto-today{
    @apply w-full h-[50px] flex items-center justify-between gap-1 px-5 mb-5 text-sky-800;
}

.calendar .goto-today .goto{
    @apply flex items-center border overflow-hidden border-solid border-sky-800;
}

.calendar .goto-today .goto input{
    @apply w-full h-[30px] outline-none border-none rounded px-5 text-sky-800;
}

.calendar .goto-today button{
    @apply py-1 px-2 border border-solid border-sky-800 cursor-pointer;
}
.calendar .goto-today button:hover{
    @apply bg-sky-800 text-white;
}

.calendar .goto-today .goto button{
    @apply border-none border-l border-l-sky-800 rounded-none;
}