@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: bg-sky-950;
}

.left{
    @apply w-3/5 p-5;
}

.body{
    @apply bg-slate-100 h-screen flex items-center justify-center;
}

.div-container{
    @apply relative w-[1200px] min-h-[95%] mx-auto my-0 p-1 text-white bg-sky-950 rounded-lg flex;
}

.calendar{
    @apply relative w-full h-full flex flex-col flex-wrap justify-between text-slate-700 rounded-md bg-slate-200;
} 

.calendar::before, .calendar::after{
    @apply absolute top-1/2 left-full w-3 h-[97%] bg-slate-400;
    border-radius: 0 5px 5px 0;
    content: "";
    transform: translateY(-50%);
}

.calendar::before{
    @apply h-[94%] bg-slate-600;
    left: calc(100% + 12px);
}
